* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Comfortaa";
}

:root {
	--white: #E4E8E8;
	--black: #222222;
	--main: #4862BB;
	--sub: #4A8FDF;
}


.Window-Content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: solid 1px #DADADA;
	background-color: var(--white);
	overflow: hidden;
}


.Window-Close-Button {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: all 0.4s 0s ease;
	z-index: 2;
}

.Window-Close-Button:hover {
	background-color: #EE8888;
	box-shadow: 0 0 16px #EE8888;
}

.Window-Close-Button img {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
	filter: brightness(10%);
}


.Location {
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	text-align: center;
}


.Current-Weather {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 400px;
	height: 400px;
}

.Current-Weather img {
	width: 200px;
	height: 200px;
}


.Temperatures {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 400px;
	left: 0;
	width: 400px;
	height: 200px;
}


.Temperatures .Current {
	position: absolute;
	margin-left: -20px;
	color: var(--black);
	font-size: 96px;
	font-weight: bold;
}

.Temperatures .Current::before {
	content: "〇";
	position: absolute;
	right: -24px;
	color: var(--black);
	font-size: 24px;
}

.Temperatures .Current::after {
	content: "c";
	position: absolute;
	bottom: 8px;
	right: -44px;
	color: var(--black);
	font-size: 64px;
}


.Temperatures .Min {
	position: absolute;
	top: 114px;
	margin-left: -96px;
	font-size: 48px;
	color: var(--black);
}

.Temperatures .Min img {
	position: absolute;
	top: 8px;
	left: -40px;
	width: 32px;
	height: 32px;
	filter: brightness(0) invert(40%) sepia(40%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}


.Temperatures .Max {
	position: absolute;
	top: 114px;
	margin-left: 156px;
	font-size: 48px;
	color: var(--black);
}

.Temperatures .Max img {
	position: absolute;
	top: 8px;
	left: -40px;
	width: 32px;
	height: 32px;
	filter: brightness(0) invert(40%) sepia(80%) saturate(1200%) hue-rotate(-40deg) brightness(100%) contrast(100%);
}


.Details {
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	top: 640px;
	left: 120px;
	width: 100%;
	height: 260px;
	color: var(--black);
	font-size: 28px;
}

.Details img {
	width: 24px;
	height: 24px;
	filter: brightness(20%);
}

.Details span {
	margin-left: 8px;
}
